@media print {
  body { background:white; color:black; }
  .topbar, .sidebar, .toast, #modal { display:none !important; }
  .invoice-print { width: 90%; margin:0 auto; font-family:'IRANSans','Tahoma',sans-serif; }
  .invoice-print h2 { text-align:center; }
  table { width:100%; border-collapse: collapse; }
  th, td { border:1px solid #444; padding:6px; }
}
